body {
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1110px;
    width: 100%;
    min-height: 48px;

    /* background-color: darkcyan; */

}
.nav .icon {
    display: none;
}
.art {
    color:black;
    font-weight: bold;
    font-style: italic;
}
.formatting {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.nav a {
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    float:right;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;

    color: #999FAE;

}

.nav a:hover {

    color: black;
}
  
.nav a.active {
    color: #292930;
    border-bottom-style: solid;
    border-color: #21DA89;

}
.order {
    float: left;
}

.nav a.home {
    padding: 8px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 97.83%;

    letter-spacing: -0.03em;

    color: #292930;
}
.color {
    color: #21da89;
}
.landing_page {
    max-width: 1440px;
    width: 100%;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color: #f3f3f3;
}

.nav-position {
    max-width: 1110px;
    width: 100%;
    min-height: 112px;

    display: flex;
    align-items: flex-end;
}

.landing-container {
    max-width: 1110px;
    width: 100%;
    min-height: 740px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /* background-color: darkolivegreen; */
}

.landing-info-box {
    max-width: 445px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: darkorange; */
}
.landing-info-head {
    max-width: 445px;
    width: 100%;
    min-height: 285px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 99.33%;

    letter-spacing: -0.025em;
    
    color: #292930;
    /* background-color: gainsboro; */
}
.landing-info-paragraph {
    max-width: 378px;
    width: 100%;
    min-height: 81px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    line-height: 27px;

    color: #999FAE;
    /* background-color: gainsboro; */
}

.landing-btn {
    width: 175px;
    height: 82px;

    border-radius: 20px;
    background: #21DA89;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.landing-btn-txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.landing-btn:hover {
    background: #1a9c68;
}
.landing-paintings {
    max-width: 652px;
    width: 100%;
    min-height: 540px;

    /* background-color: darksalmon; */
}

.grid-container {
    max-width: 590px;
    width: 100%;
    min-height: 540px;
    display: grid;
    grid-template-columns: 4em 4em 4em 4em 4em 4em 4em 4em;
    grid-template-rows: repeat(8, 4em);
    gap: 20px 20px;
  }
  .p1 { grid-area: 1 / 1 / 5 / 5; }
  .p2 { grid-area: 1 / 5 / 5 / 9; }
  .p3 { grid-area: 5 / 1 / 9 / 5; }
  .p4 { grid-area: 5 / 5 / 9 / 9; }

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .p1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
.p2 {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
} */